/* Type de la pagina */
body {
    font-family: 'Yeseva One', cursive;
}

@media screen and (max-width: 560px) {

    body {
        background-color: #c48a84d5;
    }


}

/* fin Type de la pagina */



/* nav style*/

h1 {

    padding-top: 30px;
    padding-left: 30px;

}



header nav {
    background-color: #660000;
}

.nav-link {

    color: black;
}

/* sacar las vinietas y numero con este llamado*/
ul li {
    list-style: none;
    color: black;
}








/* footer redes*/


/*

    footer {

       
        display: grid;
        width: 1349px;
        height: 200px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 0px;
        grid-template-rows: 3fr 1fr;
        grid-row-gap: 10px;
        justify-items:center;
        background-color: #bf8173;
    }

    footer div {

        font-size: 18px;
        padding: 30px;

    }

    */



footer img {
    width: 30px;
}

footer div .col {

    padding:20px;
}

footer {

    margin: 0px;
    height: 200px;
    background-color: #6600009a;
}

footer p {


    font-family: 'Mukta Malar', sans-serif;
    color: white;
    padding-top: 70px;

}

@media screen and (max-width: 560px) {

    footer p {

        font-size: 8pt;
    }


}

/*Info*/

.bodyinfo {
    background-color: #CCCCCC;
}


#infotext {

    font-family: 'Mukta Malar', sans-serif;
    padding: 10px;
    
}

@media screen and (max-width: 560px) {

    #infotext {

        font-size: 10pt;
    }

}








/*Proyectos*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px 4px 8px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}

.column img:hover {
    filter: grayscale(0);
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .column img {
        filter: grayscale(0) brightness(1);
    }
}



/*Tienda*/

#tiendawrap {

    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}

#tiendawrap2 {

    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}


ul.storesubcontent {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 35px;
    justify-content: center;
    display: flex;
    flex-direction: row;

}


li.storesubcontent a {


    text-decoration: none;
    color: black;
    margin: 12px;
    font-size: 25pt;



}